<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AV_Dictionary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AV_Dictionary.Properties.Settings>
            <setting name="_offsetFilePath" serializeAs="String">
                <value>Data\anhviet109K.txt</value>
            </setting>
            <setting name="_meaningFilePath" serializeAs="String">
                <value>Data\anhviet109K1.txt</value>
            </setting>
            <setting name="_numOfWord" serializeAs="String">
                <value>108857</value>
            </setting>
            <setting name="_recentFilePath" serializeAs="String">
                <value>Data\recent.txt</value>
            </setting>
        </AV_Dictionary.Properties.Settings>
    </userSettings>
</configuration>